<div>
  <article class="text-center text-lg max-w-lg mx-auto px-4">
    <h2>Coming soon...</h2>

    <p>Here you will soon be able to try out your palette directly with various components such as cards, buttons, etc.</p>

    <p>
      Feel free to check the repository on
      <a href="https://github.com/pawcoding/tailwind-color-generator"
         target="_blank"
         rel="noreferrer noopener"
         class="underline"
         title="View source code on GitHub">GitHub</a>
      or my
      <a href="https://discord.gg/GzgTh4hxrx"
         target="_blank"
         rel="noreferrer noopener"
         class="underline"
         title="Get more info on Discord">Discord</a>
      for more information.
    </p>
  </article>
</div>
