<div>
  <article class="mx-auto max-w-lg px-4 text-justify text-lg">
    <h2>Coming soon...</h2>

    <p class="dark:text-gray-300">Here you will soon be able to try out your palette directly with various components such as cards, buttons,
      etc.</p>

    <p class="dark:text-gray-300 mt-4">
      Feel free to check the repository on
      <a href="https://github.com/pawcoding/tailwind-color-generator"
         target="_blank"
         rel="noreferrer noopener"
         class="underline"
         title="View source code on GitHub">GitHub</a>
      or my
      <a href="https://discord.gg/GzgTh4hxrx"
         target="_blank"
         rel="noreferrer noopener"
         class="underline"
         title="Get more info on Discord">Discord Server</a>
      for more information.
    </p>
  </article>
</div>
