<section
  #container
  class="relative px-4 py-8 max-sm:flex max-sm:items-center max-sm:justify-center sm:px-6 sm:py-12 lg:px-8 lg:py-16"
  id="no-palette"
>
  <article
    #child
    class="max-w-md space-y-4 rounded-xl border border-neutral-200 bg-neutral-100 p-6 text-center shadow-xl dark:border-neutral-600 dark:bg-neutral-700 dark:shadow-none sm:absolute sm:left-1/2 sm:top-1/2 sm:-translate-x-1/2 sm:-translate-y-1/2 lg:p-8"
  >
    <h2 class="text-2xl font-bold md:text-3xl">
      {{ 'no-palette.title' | translate }}
    </h2>

    <p class="text-neutral-700 dark:text-neutral-300">
      {{ 'no-palette.description.' + parent() | translate }}
    </p>

    <a
      [routerLink]="parent() === 'palette' ? ['/view'] : ['/']"
      class="inline-flex items-center gap-2 rounded-md bg-blue-500 px-4 py-2 font-semibold text-neutral-50 dark:bg-blue-600"
    >
      <ng-icon
        [svg]="heroArrowUturnLeft"
        size="1.1rem"
        strokeWidth="0.15rem"
      />
      {{ (parent() === 'palette' ? 'no-palette.link.list' : 'no-palette.link.generate') | translate }}
    </a>
  </article>
</section>
