<div [cdkMenuTriggerFor]="menu" [cdkMenuPosition]="menuPositions">
  <ng-content />
</div>

<ng-template #menu>
  <div
    cdkMenu
    class="inline-flex flex-col w-full max-w-screen-sm gap-1 p-2 border rounded shadow-md bg-neutral-100 border-neutral-200 min-w-48 dark:bg-neutral-700 dark:border-neutral-600 dark:shadow-none"
  >
    @if (title()) {
    <section>
      <h2
        class="px-2 py-1 font-semibold border-b border-neutral-200 dark:border-neutral-600"
      >
        {{ title()! | translate }}
      </h2>
    </section>
    }

    <section cdkMenuGroup class="overflow-auto max-h-64">
      @for (item of items(); track $index) {

      <button
        class="flex items-center justify-start w-full gap-2 p-2 transition-all duration-200 ease-in-out rounded-sm hover:shadow-sm hover:bg-neutral-200 dark:hover:shadow-none dark:hover:bg-neutral-600"
        cdkMenuItemRadio
        (cdkMenuItemTriggered)="select(item)"
      >
        <ng-container
          [ngTemplateOutlet]="itemTemplate()"
          [ngTemplateOutletContext]="{ item: item }"
        />
      </button>
      }
    </section>
  </div>
</ng-template>
