<div
  [cdkMenuTriggerFor]="disabled() ? undefined : menu"
  [cdkMenuPosition]="menuPositions"
  [class]="!disabled() ? 'cursor-pointer' : 'cursor-default'"
>
  <ng-content />
</div>

<ng-template #menu>
  <div
    cdkMenu
    class="p-2 bg-white border divide-y rounded-md shadow-lg divide-neutral-100 dark:divide-neutral-700 border-neutral-100 dark:border-neutral-700 dark:bg-neutral-800 dark:shadow-none"
    role="menu"
    [style.minWidth]="minWidth()"
    [style.maxWidth]="maxWidth()"
  >
    @if (title()) {
    <section>
      <h2
        class="block p-2 text-xs font-semibold uppercase text-neutral-500 dark:text-neutral-400"
      >
        {{ title()! | translate }}
      </h2>
    </section>
    }

    <section
      #menuGroup
      cdkMenuGroup
      class="pt-2 overflow-auto"
      [style.minHeight]="minHeight()"
      [style.maxHeight]="maxHeight()"
    >
      @for (item of items(); track $index) {
      <button
        [class]="
          highlightSelection()
            ? 'aria-checked:font-bold aria-checked:text-blue-600 dark:aria-checked:text-blue-400'
            : ''
        "
        class="block w-full px-4 py-2 text-sm text-left rounded-lg group text-neutral-500 hover:bg-neutral-100 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-200"
        role="menuitem"
        cdkMenuItemRadio
        [cdkMenuItemChecked]="item === selectedItem()"
        (cdkMenuItemTriggered)="select(item)"
      >
        <ng-container
          [ngTemplateOutlet]="itemTemplate() ?? stringTemplate"
          [ngTemplateOutletContext]="{ item: item }"
        />
      </button>
      }
    </section>
  </div>
</ng-template>

<ng-template #stringTemplate let-item="item">
  {{ item | translate }}
</ng-template>
