<div
  [cdkMenuTriggerFor]="disabled() ? undefined : menu"
  [cdkMenuPosition]="menuPositions"
  [class]="!disabled() ? 'cursor-pointer' : 'cursor-default'"
>
  <ng-content />
</div>

<ng-template #menu>
  <div
    cdkMenu
    class="inline-flex flex-col w-full gap-1 p-2 border rounded shadow-md bg-neutral-100 border-neutral-200 dark:bg-neutral-700 dark:border-neutral-600 dark:shadow-none"
    [style.minWidth]="minWidth()"
    [style.maxWidth]="maxWidth()"
  >
    @if (title()) {
    <section>
      <h2
        class="px-2 py-1 font-semibold border-b border-neutral-200 dark:border-neutral-600"
      >
        {{ title()! | translate }}
      </h2>
    </section>
    }

    <section
      #menuGroup
      cdkMenuGroup
      class="overflow-auto"
      [style.minHeight]="minHeight()"
      [style.maxHeight]="maxHeight()"
    >
      @for (item of items(); track $index) {
      <button
        [class]="
          highlightSelection()
            ? 'aria-checked:font-bold aria-checked:text-blue-600 dark:aria-checked:text-blue-400'
            : ''
        "
        class="flex items-center justify-start w-full gap-2 p-2 transition-all duration-200 ease-in-out rounded-sm hover:shadow-sm hover:bg-neutral-200 dark:hover:shadow-none dark:hover:bg-neutral-600"
        cdkMenuItemRadio
        [cdkMenuItemChecked]="item === selectedItem()"
        (cdkMenuItemTriggered)="select(item)"
      >
        <ng-container
          [ngTemplateOutlet]="itemTemplate() ?? stringTemplate"
          [ngTemplateOutletContext]="{ item: item }"
        />
      </button>
      }
    </section>
  </div>
</ng-template>

<ng-template #stringTemplate let-item="item">
  {{ item | translate }}
</ng-template>
