<article
  *ngIf="color && shade"
  [style]="{'background-color': color.getShade(dark ? 800 : 100)}"
  [ngClass]="dark ? 'border-neutral-300 bg-neutral-700' : 'border-neutral-600 bg-neutral-200'"
  class="flex gap-4 max-w-5xl mx-auto p-4 rounded-xl border-2 shadow-lg"
>

  <!-- Edit Color -->
  <section class="grow-2 grid grid-rows-5 gap-2 items-center">

    <!-- Edit Hex -->
    <input
      type="color"
      title="Select a shade"
      id="hexInput" #hexInput
      [value]="shade.hex"
      (input)="updateColor(0, hexInput.value)"
    >

    <!-- Edit Hue -->
    <input
      type="range"
      title="Adjust the hue"
      id="hueInput" #hueInput
      min=0 max=360
      [value]="shade.hue"
      (input)="updateColor(1, hueInput.value)"
    >

    <!-- Edit Saturation -->
    <input
      type="range"
      title="Adjust the saturation"
      id="saturationInput" #saturationInput
      min=0 max=100
      [value]="shade.saturation"
      (input)="updateColor(2, saturationInput.value)"
    >

    <!-- Edit Luminosity -->
    <input
      type="range"
      title="Adjust the luminosity"
      id="luminosityInput" #luminosityInput
      min=0 max=100
      [value]="100 - shade.luminosity"
      (input)="updateColor(3, luminosityInput.value)"
    >

    <div class="flex gap-2">
      <!-- Edit Name -->
      <input
        type="text"
        title="Give your color a name"
        id="nameInput" #nameInput
        class="text-black"
        placeholder="Color Name"
        [value]="color.name"
        (input)="updateName(nameInput.value)"
      >

      <!-- Add Color to Palette-->
      <input
        type="button"
        title="Add color to palette"
        value="Add color to palette"
        class="cursor-pointer"
        [ngClass]="dark ? 'bg-neutral-600' : 'bg-neutral-300'"
        (click)="onAdd.emit(color)"
      >
    </div>
  </section>

  <!-- Preview Color -->
  <section class="grow grid grid-cols-1 sm:grid-cols-2 text-center">
    <span
      *ngFor="let shade of color.shades"
      [title]="shade.index + '&#10;' + shade.hex"
      [ngStyle]="{
        'background-color': shade.hex,
        'color': color.getShade(shade.luminosity > 48 ? 900 : 50).hex
      }"
      class="p-2"
    >
      {{shade.hex}}
    </span>
  </section>
</article>
