input {
  @apply block w-full;
}

input[type=range], input[type=color] {
  @apply w-full outline-none appearance-none cursor-pointer;
  -webkit-appearance: none;
}

input[type=range] {
  @apply h-1/2;
}

input[type=range]::-webkit-slider-thumb {
  @apply w-6 h-5/6 min-h-10 cursor-grab appearance-none outline-none rounded shadow hover:shadow-md transition-shadow duration-200;
  background-color: var(--selected-hex);
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=range]::-moz-range-thumb {
  @apply w-6 h-5/6 min-h-10 cursor-grab outline-none border-none rounded shadow hover:shadow-md transition-shadow duration-200;
  background-color: var(--selected-hex);
}

input[type=color]::-webkit-color-swatch-wrapper {
  @apply p-0;
}

input[type=color]::-webkit-color-swatch {
  @apply border-none h-full;
}

#hexInput {
  @apply h-full max-h-8 sm:max-h-full;
  background-color: var(--selected-hex);
}

#hueInput {
  background: linear-gradient(90deg,
  hsl(0, var(--selected-saturation), var(--selected-luminosity)) 0%,
  hsl(60, var(--selected-saturation), var(--selected-luminosity)) 33.3%,
  hsl(120, var(--selected-saturation), var(--selected-luminosity)) 50%,
  hsl(240, var(--selected-saturation), var(--selected-luminosity)) 66.6%,
  hsl(360, var(--selected-saturation), var(--selected-luminosity)) 100%);
}

#saturationInput {
  background: linear-gradient(90deg,
  hsl(var(--selected-hue), 0%, var(--selected-luminosity)) 0%,
  hsl(var(--selected-hue), 100%, var(--selected-luminosity)) 100%);
}

#luminosityInput {
  background: linear-gradient(90deg,
  hsl(var(--selected-hue), var(--selected-saturation), 100%) 0%,
  hsl(var(--selected-hue), var(--selected-saturation), 50%) 50%,
  hsl(var(--selected-hue), var(--selected-saturation), 0%) 100%);
}
