<div>
  <span class="flex overflow-hidden rounded-md border border-neutral-200 shadow-sm dark:border-none dark:shadow-none">
    <label
      [title]="tooltip()"
      [for]="readOnly() ? null : 'color'"
    >
      <div
        [class]="
          (isColorLight() ? 'text-neutral-900' : 'text-neutral-100') +
          ' ' +
          (readOnly() ? 'cursor-not-allowed' : 'cursor-pointer')
        "
        [style.backgroundColor]="hex()"
        class="flex h-full w-10 items-center justify-center"
      >
        <ng-icon
          [svg]="heroEyeDropperMini"
          size="1.3rem"
          strokeWidth="0.2rem"
        />
      </div>

      <span class="sr-only">
        {{ placeholder() }}
      </span>
    </label>

    <input
      #colorInput
      [value]="hex()"
      (change)="updateHex(colorInput.value)"
      (input)="updateHex(colorInput.value)"
      class="hidden"
      id="color"
      type="color"
    />

    <input
      #hexInput
      [class.cursor-not-allowed]="readOnly()"
      [placeholder]="placeholder()"
      [readOnly]="readOnly()"
      [title]="placeholder()"
      [value]="hex()"
      (input)="updateHex(hexInput.value)"
      class="w-full min-w-0 grow border-none bg-neutral-100 px-4 py-2 font-semibold focus:outline-none focus:ring-0 dark:bg-neutral-600"
      type="text"
    />
  </span>
</div>
