<section class="w-full">
  <div class="grid grid-cols-10 sm:grid-cols-5 lg:grid-cols-10 sm:gap-2">
    @for (shade of color().shades; track shade.index) {
    <button
      [class.rounded-l]="$first"
      [class.rounded-r]="$last"
      [style.background-color]="shade.hslValue"
      class="block w-full px-2 py-4 text-lg text-center cursor-pointer sm:rounded"
    >
      <span class="opacity-0 sm:opacity-100">
        <span class="font-semibold">
          {{ shade.index }}
        </span>
        <br />
        <span>
          {{ shade.hex.toUpperCase().substring(1) }}
        </span>
      </span>
    </button>
    }
  </div>
</section>
