<div class="flex items-center gap-2">
  <rp-dropdown-menu
    [items]="languageOptions"
    (selectedItemChange)="changeLanguage($event.value)"
    closeOnScroll="false"
    title="layout.options.language"
  >
    <button
      [title]="'layout.options.language' | translate"
      class="flex size-9 items-center justify-center overflow-hidden rounded-full shadow-sm dark:shadow-none"
    >
      <img
        [alt]="currentLanguage().label"
        [src]="'/assets/flags/' + currentLanguage().flag + '.svg'"
        height="36"
        width="36"
      />

      <span class="sr-only">
        {{ currentLanguage().label }}
      </span>
    </button>

    <ng-template
      #itemTemplate
      let-language="item"
    >
      <div class="flex items-center gap-2">
        <img
          [alt]="language.label"
          [src]="'/assets/flags/' + language.flag + '.svg'"
          class="rounded-full shadow-sm"
          height="24"
          width="24"
        />

        <span>
          {{ language.label }}
        </span>
      </div>
    </ng-template>
  </rp-dropdown-menu>

  <rp-dropdown-menu
    [items]="themeOptions"
    (selectedItemChange)="changeTheme($event.value)"
    closeOnScroll="false"
    title="layout.options.theme"
  >
    <button
      [title]="'layout.options.theme' | translate"
      class="flex size-9 items-center justify-center overflow-hidden rounded-full bg-neutral-200 shadow-sm dark:bg-neutral-700 dark:shadow-none"
    >
      <ng-icon
        [size]="'1rem'"
        [svg]="currentTheme().icon"
      />

      <span class="sr-only">
        {{ currentTheme().label | translate }}
      </span>
    </button>

    <ng-template
      #itemTemplate
      let-theme="item"
    >
      <div class="flex items-center gap-2">
        <span
          class="flex items-center justify-center rounded-full bg-neutral-300 p-1 shadow-sm dark:bg-neutral-700 dark:shadow-none dark:group-hover:bg-neutral-800"
        >
          <ng-icon
            [size]="'1rem'"
            [svg]="theme.icon"
          />
        </span>

        <span>
          {{ theme.label | translate }}
        </span>
      </div>
    </ng-template>
  </rp-dropdown-menu>
</div>
