<article
  #editor
  class="flex flex-col w-full max-w-md gap-4 p-4 mx-auto rounded shadow-md dark:border bg-neutral-100 dark:border-neutral-600 dark:shadow-none dark:bg-neutral-700"
>
  <h2 class="font-semibold">{{ color().name }}</h2>

  <!-- Edit hex -->
  <rp-color-input
    [hex]="shade().hex"
    (hexChange)="update(UpdateType.HEX, $event)"
    placeholder="view.color.placeholder"
  />

  <section class="flex flex-col gap-2">
    <rp-editor-range
      id="hue-range"
      key="hue"
      min="0"
      max="360"
      [label]="'common.hue' | translate"
      [value]="shade().hsl.H"
      (valueChange)="update(UpdateType.HUE, $event)"
    />

    <rp-editor-range
      id="saturation-range"
      key="saturation"
      [label]="'common.saturation' | translate"
      [value]="shade().hsl.S"
      (valueChange)="update(UpdateType.SATURATION, $event)"
    />

    <rp-editor-range
      id="lightness-range"
      key="lightness"
      [label]="'common.lightness' | translate"
      [value]="shade().hsl.L"
      (valueChange)="update(UpdateType.LIGHTNESS, $event)"
    />
  </section>

  <section
    class="grid grid-cols-10 text-sm border rounded-md shadow-sm border-neutral-200 dark:shadow-none dark:border-none grow"
  >
    @for (shadeInRow of color().shades; track shadeInRow.hex) {
    <button
      class="flex items-center justify-center w-full border-current h-14"
      [class.border-4]="shadeInRow.index === shadeIndex()"
      [class.rounded-l-md]="$first"
      [class.rounded-r-md]="$last"
      [style.backgroundColor]="shadeInRow.hex"
      [style.color]="
        shadeInRow.perceivedBrightness > 51
          ? darkestShade().hex
          : lightestShade().hex
      "
      [title]="'editor.shades' | translate"
      (click)="changeShade(shadeInRow.index)"
      (contextmenu)="unfixShade(shadeInRow, $event)"
    >
      {{ shadeInRow.fixed ? "■" : "" }}
    </button>
    }
  </section>

  <section class="flex justify-end gap-2">
    <button
      class="px-2 py-1.5 font-semibold rounded cursor-pointer bg-neutral-300 dark:bg-neutral-600"
      (click)="cancel()"
    >
      {{ "common.cancel" | translate }}
    </button>

    <button
      class="px-2 py-1.5 font-semibold bg-blue-500 rounded cursor-pointer text-neutral-50 dark:bg-blue-600"
      (click)="save()"
    >
      {{ "common.save" | translate }}
    </button>
  </section>
</article>
