<div [class]="dark ? 'dark' : ''">
  <article
    class="my-8 items-center cursor-default overflow-clip
           grid grid-cols-2 sm:grid-cols-5 lg:grid-cols-10 grid-areas-color-square sm:grid-areas-color-semi lg:grid-areas-color-wide"
  >
    <!-- Name of the color -->
    <h3 class="grid-in-name py-4 transition-colors duration-200">
      {{color.name}}
    </h3>

    <!-- Action Buttons -->
    <div
      class="grid-in-button flex gap-2 h-full justify-end items-center"
    >
      <span
        class="p-1 hover:bg-gray-100 dark:hover:bg-gray-800 rounded transition-colors duration-500"
        title="Edit color"
        (click)="colorService.loadColor(color)"
      >
        <img
          class="icon"
          src="/assets/icons/edit.svg"
          alt="Edit color"
        >
      </span>

      <span
        class="p-1 hover:bg-gray-100 dark:hover:bg-gray-800 rounded transition-colors duration-500"
        title="Remove color from palette"
        (click)="onRemove.emit(color)"
      >
        <img
          class="icon"
          src="/assets/icons/delete.svg"
          alt="Remove from palette"
        >
      </span>
    </div>

    <!-- Display all shades -->
    <div
      class="grid-in-shade grid grid-cols-10 md:grid-cols-5 xl:grid-cols-10
             rounded overflow-clip"
    >
      <span
        *ngFor="let shade of color.shades; index as i"
        title="Copy hex to clipboard"
        class="block w-full p-4
               text-center text-lg font-semibold cursor-pointer"
        [ngStyle]="{
          'background-color': shade.hex,
          'color': color.shades[shade.brightness > 51 ? 9 : 0].hex
        }"
        (click)="copyToClipboard(shade)"
      >
        <span class="opacity-0 md:opacity-100">
          {{shade.index}}
          <br>
          {{shade.hex.toUpperCase()}}
        </span>
      </span>
    </div>
  </article>
</div>
