<div
  class="fixed z-50 flex h-screen w-screen flex-col items-center justify-center bg-neutral-50 backdrop-blur-sm dark:bg-neutral-900"
>
  <article>
    <h1>
      <span class="sr-only">Rainbow Palette</span>
      <img
        [src]="logoAsset()"
        [width]="isMobile() ? 200 : 300"
        alt="Rainbow Palette"
        class="drop-shadow-md"
      />
    </h1>

    <section class="mt-4 sm:mt-6">
      <span
        class="sr-only"
        id="loading"
        >Loading Rainbow Palette</span
      >

      <div
        aria-labelledby="loading"
        class="block overflow-hidden rounded-full bg-gray-200 shadow-md dark:shadow-none"
        role="progressbar"
      >
        <span
          [class.desktop]="!isMobile()"
          class="progress block h-3 from-blue-400 to-blue-500 sm:h-6"
        ></span>
      </div>
    </section>
  </article>
</div>
