<div
  class="min-h-screen grid grid-rows-site content-between py-6
         text-gray-900 bg-gray-50 dark:text-gray-100 dark:bg-gray-900
         transition-colors duration-500"
>
  <header class="w-full grid grid-cols-3 gap-4 px-8 items-center">
    <h1>Color Palette Generator</h1>

    <nav class="grow">
      <div
        class="mx-auto w-fit"
      >
        <ul
          *ngIf="paletteService.hasPalette()"
          class="flex flex-wrap gap-4
                 font-medium text-gray-700 dark:text-gray-200">
          <li>
            <a
              routerLink="/"
              class="inline-block py-2 px-4
                     rounded cursor-pointer transition-colors duration-500"
              [class]="(router.url === '/')
                ? 'text-primary-600 bg-primary-200 dark:text-primary-200 dark:bg-primary-800'
                : 'hover:text-gray-900 hover:bg-gray-100 dark:hover:text-gray-50 dark:hover:bg-gray-800'"
            >
              Regenerate
            </a>
          </li>

          <li>
            <a
              routerLink="/edit"
              class="inline-block py-2 px-4
                     rounded cursor-pointer transition-colors duration-500"
              [class]="(router.url === '/edit')
                ? 'text-primary-600 bg-primary-200 dark:text-primary-200 dark:bg-primary-800'
                : 'hover:text-gray-900 hover:bg-gray-100 dark:hover:text-gray-50 dark:hover:bg-gray-800'"
            >
              Edit
            </a>
          </li>

          <li *ngIf="false">
            <a
              routerLink="/preview"
              class="inline-block py-2 px-4
                     rounded cursor-pointer transition-colors duration-500"
              [class]="(router.url === '/preview')
                ? 'text-primary-600 bg-primary-200 dark:text-primary-200 dark:bg-primary-800'
                : 'hover:text-gray-900 hover:bg-gray-100 dark:hover:text-gray-50 dark:hover:bg-gray-800'"
            >
              Preview
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <light-switch
      class="ml-auto"
      [dark]="dark"
    >
    </light-switch>
  </header>


  <main>
    <router-outlet>
    </router-outlet>
  </main>


  <footer
    class="flex gap-4 flex-col sm:flex-row px-8 items-center justify-between
           text-center w-full max-w-4xl mx-auto mt-10"
  >
    <a
      href="https://github.com/pawcoding/tailwind-color-generator"
      rel="noreferrer noopener"
      target="_blank"
      title="View source code on GitHub"
    >
      View on GitHub
    </a>

    <span
      class="cursor-default"
    >
      Version {{version}}
    </span>

    <a
      href="https://pawcode.de"
      target="_blank"
      title="Created by pawcode Development"
    >
      <img
        class="inline h-8"
        alt="pawcode&nbsp;Development"
        [src]="'assets/pawcode-' + (dark ? 'light' : 'dark') + '.svg'"
      >
    </a>
  </footer>


  <custom-dialog
    class="fixed top-0 left-0"
  ></custom-dialog>

  <notification
    class="fixed bottom-0 right-0"
  ></notification>

  <!--main class="px-10">
    <!- Color Editor ->
    <color-editor
      (addColor)="addColor($event)"
    ></color-editor>

    <!- Display color palette ->
    <palette-viewer
      *ngIf="palette" (onRemove)="removePalette()"
      [palette]="palette" [dark]="dark"
    ></palette-viewer>
  </main-->
</div>
