<div
  class="min-h-screen grid grid-rows-site content-between
    py-4 text-neutral-900 bg-neutral-100 dark:text-neutral-100 dark:bg-neutral-900 transition-colors duration-200"
>
  <header class="relative">
    <light-switch
      class="absolute xl:fixed right-0 mr-6"
      [dark]="dark"
    ></light-switch>

    <h1>
      Color Palette Generator
    </h1>
  </header>

  <main class="px-10">
    <!-- Color Editor -->
    <color-editor
      (addColor)="addColor($event)"
    ></color-editor>

    <!-- Display color palette -->
    <palette-viewer
      *ngIf="palette" (onRemove)="removePalette()"
      [palette]="palette" [dark]="dark"
    ></palette-viewer>
  </main>

  <footer class="p-4 flex gap-4 justify-between flex-col sm:flex-row text-center mx-auto max-w-5xl w-full mt-10">
    <a href="https://github.com/pawcoding/tailwind-color-generator" rel="noreferrer noopener" target="_blank" title="View source code on GitHub">View on GitHub</a>
    <span class="cursor-default">Version {{version}}</span>
    <a href="https://pawcode.de" target="_blank" title="Created by pawcode Development">
      <img [src]="'assets/pawcode-' + (dark ? 'light' : 'dark') + '.svg'" alt="pawcode&nbsp;Development" class="inline h-8">
    </a>
  </footer>

  <export-dialog
    class="fixed top-0 left-0"
  ></export-dialog>
</div>
