<details
  #detailsElement
  (click)="toggleAccordion($event)"
  (keypress)="toggleAccordion($event)"
  class="group cursor-pointer rounded-lg border border-neutral-200 bg-neutral-100 p-6 shadow-xl dark:border-neutral-600 dark:bg-neutral-700 dark:shadow-none [&_summary::-webkit-details-marker]:hidden"
  tabindex="0"
>
  <summary
    #summaryElement
    class="flex items-center justify-between gap-1.5"
  >
    <h3 class="text-xl font-semibold">
      {{ summary() | translate }}
    </h3>

    <span
      [title]="(isOpen() ? 'common.less' : 'common.more') | translate"
      class="size-5 shrink-0"
    >
      <ng-icon
        [svg]="heroPlus"
        class="inset-0 transition duration-300 ease-spring group-open:rotate-45"
        size="1.25rem"
      />
    </span>
  </summary>

  <div
    #contentElement
    class="mt-6 text-neutral-700 dark:text-neutral-300"
  >
    @if (!hidden() || isOpen()) {
      @if (details()) {
        <p
          [innerHTML]="details()"
          class="text-justify leading-relaxed"
        ></p>
      } @else {
        <ng-content />
      }
    }
  </div>
</details>
