@if (list().length > 0) {
  <div
    class="mx-auto px-4 py-8 sm:max-w-screen-sm md:max-w-screen-md"
    id="list"
  >
    <section class="mb-4 flex flex-col items-center gap-2 lg:flex-row lg:items-end lg:justify-between">
      <h1 class="select-none text-3xl font-bold lg:text-2xl">
        {{ 'list.title' | translate }}
      </h1>
      <div class="flex flex-wrap justify-center gap-2">
        <a
          [routerLink]="['/']"
          [title]="'list.new' | translate"
          class="flex cursor-pointer items-center gap-2 overflow-hidden rounded bg-blue-500 px-2 py-1.5 font-semibold text-neutral-50 dark:bg-blue-600 sm:px-3 sm:py-2"
        >
          <ng-icon
            [svg]="heroPlusMini"
            class="scale-90 sm:scale-100"
            size="1.25rem"
          />
          <span>
            {{ 'list.new' | translate }}
          </span>
        </a>
      </div>
    </section>

    <section class="rounded-md border border-neutral-200 dark:border-neutral-700">
      @for (palette of list(); track palette.id) {
        <a
          [class.rounded-b-md]="$last"
          [class.rounded-t-md]="$first"
          [routerLink]="['/view', palette.id]"
          [title]="'list.view' | translate: { name: palette.name }"
          class="group flex items-center justify-between p-4 transition-colors duration-300 ease-in-out odd:bg-neutral-100 hover:bg-neutral-200 dark:odd:bg-neutral-800 dark:hover:bg-neutral-700"
        >
          <span>
            {{ palette.name }}
          </span>
          <span
            class="flex -translate-x-full items-center justify-center opacity-0 transition-all duration-300 ease-in-out group-hover:translate-x-0 group-hover:opacity-100"
          >
            <ng-icon [svg]="heroArrowRightMini" />
          </span>
        </a>
      }
    </section>
  </div>
} @else {
  <rp-no-palette [parent]="'view'" />
}
