<article
  class="mx-auto flex w-full max-w-lg flex-col gap-1 rounded bg-neutral-100 p-4 shadow-md dark:border dark:border-neutral-600 dark:bg-neutral-700 dark:shadow-none"
>
  <div class="flex">
    @if (state() !== ExportModalState.FORMAT) {
      <button
        [title]="'common.back' | translate"
        (click)="back()"
        class="flex cursor-pointer items-center justify-center rounded-md p-2 hover:bg-neutral-200 dark:hover:bg-neutral-800"
      >
        <ng-icon [svg]="heroArrowLeftMini" />

        <span class="sr-only">
          {{ 'common.back' | translate }}
        </span>
      </button>
    }

    <button
      [title]="'common.close' | translate"
      (click)="close()"
      class="ml-auto flex cursor-pointer items-center justify-center rounded-md p-2 hover:bg-neutral-200 dark:hover:bg-neutral-800"
    >
      <ng-icon [svg]="heroXMarkMini" class="size-4" />

      <span class="sr-only">
        {{ 'common.back' | translate }}
      </span>
    </button>
  </div>

  @switch (state()) {
    @case (ExportModalState.FORMAT) {
      <rp-export-format (choseExportFormat)="choseFormat($event)" />
    }

    @case (ExportModalState.DOWNLOAD) {
      @if(format(); as format) {
        @if (format === ExportFormat.OTHER) {
          <rp-request-format />
        } @else {
          <rp-export-download
            [exportFormat]="format"
            (choseDownloadFormat)="choseDownloadFormat($event)"
          />
        }
      }
    }

    @case (ExportModalState.SUCCESS) {
      @if(format(); as format) {
        @if(downloadOption(); as downloadOption) {
          <rp-export-success
            [exportFormat]="format"
            [exportOption]="downloadOption"
          />
        }
      }
    }
  }
</article>
