<div class="w-full space-y-4 sm:space-y-8">
  @for (color of palette().colors; track $index) {
  <section class="space-y-2">
    <div class="flex items-end justify-between">
      <h2 class="text-xl font-bold select-none">
        {{ color.name }}
      </h2>

      <div
        class="inline-flex overflow-hidden bg-white border rounded-md shadow-sm dark:border-neutral-800 dark:bg-neutral-900"
      >
        <button
          class="flex items-center justify-center size-8 sm:size-10 border-e text-neutral-700 hover:bg-neutral-50 dark:border-e-neutral-800 dark:text-neutral-200 dark:hover:bg-neutral-800"
          [title]="'view.color.rename' | translate"
          (click)="rename(color)"
        >
          <span class="sr-only">
            {{ "common.rename" | translate }}
          </span>
          <ng-icon
            [svg]="heroPencilSquareMini"
            size="1.25rem"
            class="scale-90 sm:scale-100"
          />
        </button>

        <button
          class="flex items-center justify-center size-8 sm:size-10 border-e text-neutral-700 hover:bg-neutral-50 dark:border-e-neutral-800 dark:text-neutral-200 dark:hover:bg-neutral-800"
          [title]="'view.color.tune' | translate"
          (click)="edit(color)"
        >
          <span class="sr-only">
            {{ "common.edit" | translate }}
          </span>
          <ng-icon
            [svg]="heroAdjustmentsHorizontalMin"
            size="1.25rem"
            class="scale-90 sm:scale-100"
          />
        </button>

        <button
          class="flex items-center justify-center size-8 sm:size-10 text-neutral-700 hover:bg-neutral-50 dark:text-neutral-200 dark:hover:bg-neutral-800"
          [title]="'view.color.remove-tooltip' | translate"
          (click)="remove(color)"
        >
          <span class="sr-only">
            {{ "common.delete" | translate }}
          </span>
          <ng-icon
            [svg]="heroTrashMini"
            size="1.25rem"
            class="scale-90 sm:scale-100"
          />
        </button>
      </div>
    </div>

    <div
      class="grid grid-cols-10 xs:grid-cols-5 lg:grid-cols-10 xs:gap-1 sm:gap-2"
    >
      @for (shade of color.shades; track shade.index) {
      <button
        [class.rounded-l]="$first"
        [class.rounded-r]="$last"
        [style.background-color]="shade.hslValue"
        [style.color]="textColor(shade, color)"
        class="flex items-center justify-center w-full h-20 cursor-pointer sm:text-lg xs:rounded"
        [title]="'view.color.click' | translate"
        (click)="edit(color, shade.index)"
        (contextmenu)="copyToClipboard(shade, $event)"
      >
        <span class="hidden text-center xs:block">
          <span class="font-semibold">
            {{ shade.index }}
          </span>
          <br />
          <span>
            {{ shade.hex.toUpperCase().substring(1) }}
          </span>
        </span>
      </button>
      }
    </div>
  </section>
  }
</div>
