<div class="w-full">
  <header
    #header
    class="fixed top-0 z-10 flex items-center justify-between w-full gap-2 p-4 border-b bg-neutral-50 dark:bg-neutral-900 border-neutral-200 dark:border-neutral-700"
  >
    <h1>
      <span class="sr-only">Rainbow Palette</span>
      <img [src]="logoAsset()" alt="Rainbow Palette" width="200" />
    </h1>

    @if (!isMobile()) {
    <ng-container *ngTemplateOutlet="navigationTemplate" />
    }

    <rp-layout-options
      [language]="language()"
      [theme]="theme()"
      (languageChange)="changeLanguage($event)"
      (themeChange)="changeTheme($event)"
    />
  </header>

  @if (initialized()) {
  <main id="main" class="flex flex-col items-center justify-between w-full">
    <div class="w-full">
      <router-outlet />
    </div>

    <footer #footer class="w-full">
      <rp-layout-footer [logoAsset]="logoAsset()" />
    </footer>
  </main>
  } @if (isMobile()) {
  <div
    #bottomNavigation
    class="fixed bottom-0 w-full bg-neutral-50 dark:bg-neutral-900"
  >
    <ng-container *ngTemplateOutlet="navigationTemplate" />
  </div>
  } @if (showAnalyticsConsent()) {
  <rp-layout-analytics-consent (consent)="analyticsConsent($event)" />
  }
</div>

<ng-template #navigationTemplate>
  <rp-layout-navigation [navigationEntries]="navigationEntries" />
</ng-template>
