<div class="w-full">
  <header
    #header
    class="fixed top-0 z-10 flex w-full items-center justify-between gap-2 border-b border-neutral-200 bg-neutral-50 p-4 dark:border-neutral-700 dark:bg-neutral-900"
  >
    <a routerLink="/">
      <h1>
        <span class="sr-only">Rainbow Palette</span>
        <img
          [src]="logoAsset()"
          alt="Rainbow Palette"
          width="200"
        />
      </h1>
    </a>

    @if (!isMobile()) {
      <ng-container *ngTemplateOutlet="navigationTemplate" />
    }

    <rp-layout-options
      [language]="language()"
      [theme]="theme()"
      (languageChange)="changeLanguage($event)"
      (themeChange)="changeTheme($event)"
    />
  </header>

  @if (initialized()) {
    <main
      class="flex w-full flex-col items-center justify-between"
      id="main"
    >
      <div class="w-full">
        <router-outlet />
      </div>

      <footer
        #footer
        class="w-full"
      >
        <rp-layout-footer [logoAsset]="logoAsset()" />
      </footer>
    </main>
  }
  @if (showAnalyticsConsent()) {
    <div
      class="fixed bottom-0 left-0"
      id="consent"
    >
      <rp-layout-analytics-consent (consent)="analyticsConsent($event)" />
    </div>
  }
  @if (isMobile()) {
    <div
      #bottomNavigation
      class="fixed bottom-0 w-full bg-neutral-50 dark:bg-neutral-900"
    >
      <ng-container *ngTemplateOutlet="navigationTemplate" />
    </div>
  }
</div>

<ng-template #navigationTemplate>
  <rp-layout-navigation [navigationEntries]="navigationEntries" />
</ng-template>
