<section>
  <div class="relative h-24 w-full">
    <span
      class="absolute left-1/2 top-0 flex -translate-x-20 translate-y-3 -rotate-12 items-center justify-center rounded-full bg-neutral-200 p-3 shadow-md"
    >
      <ng-icon
        [color]="formats[0].color"
        [svg]="formats[0].icon"
        size="2.5rem"
      />
    </span>

    <span
      class="absolute left-1/2 top-0 flex -translate-x-12 translate-y-1 -rotate-6 items-center justify-center rounded-full bg-neutral-200 p-3 shadow-md"
    >
      <ng-icon
        [color]="formats[1].color"
        [svg]="formats[1].icon"
        size="2.5rem"
      />
    </span>

    <span
      class="absolute left-1/2 top-0 flex translate-x-4 translate-y-2 rotate-12 items-center justify-center rounded-full bg-neutral-200 p-3 shadow-md"
    >
      <ng-icon
        [color]="formats[2].color"
        [svg]="formats[2].icon"
        size="2.5rem"
      />
    </span>

    <span
      class="absolute left-1/2 top-0 flex -translate-x-4 rotate-3 items-center justify-center rounded-full bg-neutral-200 p-3 shadow-md"
    >
      <ng-icon
        [color]="formats[3].color"
        [svg]="formats[3].icon"
        size="2.5rem"
      />
    </span>
  </div>

  <h1 class="text-lg font-bold">
    {{ "export.request-format.title" | translate }}
  </h1>

  <p class="text-sm">
    {{ "export.request-format.description" | translate }}
  </p>

  <div
    class="flex items-center justify-end gap-1 pt-4 font-semibold text-neutral-600 dark:text-neutral-300 xs:gap-4"
  >
    <a
      class="rounded-md p-2 transition-colors duration-200 hover:bg-neutral-200 dark:hover:bg-neutral-800"
      href="https://github.com/pawcoding/Rainbow-Palette/issues?q=is%3Aissue+is%3Aopen+label%3Atype%2Ffeature-export+"
      target="_blank"
    >
      {{ "export.request-format.open-issue" | translate }}
    </a>
  </div>
</section>
