<div [class]="dark ? 'dark' : ''" class="max-w-5xl mx-auto">
  <section
    class="p-4 rounded-xl shadow bg-neutral-300 dark:bg-neutral-700 text-neutral-900 dark:text-neutral-100 transition-colors duration-200"
  >
    <div class="grid grid-cols-3 items-center mb-6">
      <!-- Palette name -->
      <h2 *ngIf="!editingState" (click)="openEditor()">{{palette.title}}</h2>

      <!-- Palette name input -->
      <input *ngIf="editingState" type="text"
             [value]="palette.title" #editTitle
             placeholder="Palette title"
             (focusout)="closeEditor()" (keydown.enter)="closeEditor()"
             class="bg-transparent p-0 text-xl font-bold
              border-0 focus:border-b-neutral-700 dark:focus:border-b-neutral-200 border-b-2 focus:ring-0 transition-all duration-200">

      <!-- Action Buttons -->
      <div class="flex gap-6 pr-6 justify-end col-span-2">
        <span title="Export palette" (click)="exportPalette()">
          <img src="/assets/icons/download.svg" alt="Export" class="icon">
        </span>

        <span title="Sort palette by hue" (click)="sortPalette()">
          <img src="/assets/icons/sort.svg" alt="Sort" class="icon">
        </span>

        <span title="Edit palette" (click)="openEditor()">
          <img src="/assets/icons/edit.svg" alt="Edit" class="icon">
        </span>

        <span title="Remove palette" (click)="removePalette($event)">
          <img src="/assets/icons/delete.svg" alt="Remove" class="icon">
        </span>
      </div>
    </div>

    <!-- Display all colors -->
    <color-viewer
      *ngFor="let color of palette.colors"
      [color]="color"
      [dark]="dark"
      (onRemove)="removeColor(color)"
    ></color-viewer>

    <!-- Add random color to palette -->
    <button
      (click)="addRandomColor()"
      class="
          rounded-xl px-4 py-2 block mx-auto mt-4
          bg-neutral-400 dark:bg-neutral-600 shadow hover:shadow-lg font-medium transition-all duration-200"
    >
      Add random color
    </button>
  </section>
</div>
