<section>
  <h1 class="text-lg font-bold">
    {{ "export.download.title" | translate }}
  </h1>

  <p class="text-sm">
    {{ "export.download.description." + exportFormat() | translate }}
  </p>

  <div
    class="grid justify-center gap-1 pt-4 font-semibold text-neutral-600 dark:text-neutral-300 xs:grid-cols-2 xs:gap-4"
  >
    <button
      (click)="copy()"
      class="flex w-full items-center justify-start gap-4 rounded-md p-2 transition-colors duration-200 hover:bg-neutral-200 dark:hover:bg-neutral-800 xs:flex-col xs:gap-2"
    >
      <span
        class="flex items-center justify-center rounded-full bg-neutral-100 p-1 dark:bg-neutral-200 dark:text-neutral-800 xs:p-2"
      >
        <ng-icon
          [svg]="heroDocumentDuplicate"
          class="scale-75 xs:scale-100"
          size="2rem"
        />
      </span>
      <span>{{ "export.download.copy" | translate }}</span>
    </button>

    <button
      (click)="download()"
      class="flex w-full items-center justify-start gap-4 rounded-md p-2 transition-colors duration-200 hover:bg-neutral-200 dark:hover:bg-neutral-800 xs:flex-col xs:gap-2"
    >
      <span
        class="flex items-center justify-center rounded-full bg-neutral-100 p-1 dark:bg-neutral-200 dark:text-neutral-800 xs:p-2"
      >
        <ng-icon
          [svg]="heroArrowDownTray"
          class="scale-75 xs:scale-100"
          size="2rem"
        />
      </span>
      <span>{{ "export.download.file" | translate }}</span>
    </button>
  </div>
</section>
