@if (palette(); as palette) {
<div class="px-4 py-8 mx-auto sm:max-w-screen-sm lg:max-w-screen-lg">
  <section
    class="flex flex-col items-center gap-2 mb-4 lg:items-end lg:justify-between lg:flex-row"
  >
    <h1 class="text-3xl font-bold select-none lg:text-2xl">
      {{ palette.name }}
    </h1>

    <div class="flex flex-wrap justify-center gap-2">
      <button
        class="flex items-center gap-2 px-2 sm:px-3 py-1.5 sm:py-2 overflow-hidden font-semibold bg-blue-500 rounded cursor-pointer text-neutral-50 dark:bg-blue-600"
        [title]="'view.palette.rename' | translate"
        (click)="renamePalette()"
      >
        <ng-icon
          [svg]="heroPencilSquareMini"
          size="1.25rem"
          class="scale-90 sm:scale-100"
        />
        <span>
          {{ "common.rename" | translate }}
        </span>
      </button>

      <button
        class="flex items-center gap-2 px-2 sm:px-3 py-1.5 sm:py-2 overflow-hidden font-semibold bg-blue-500 rounded cursor-pointer text-neutral-50 dark:bg-blue-600"
        [title]="'export.title' | translate"
        (click)="exportPalette()"
      >
        <ng-icon
          [svg]="heroArrowDownTrayMini"
          size="1.25rem"
          class="scale-90 sm:scale-100"
        />
        <span>
          {{ "common.export" | translate }}
        </span>
      </button>

      <button
        [disabled]="saving()"
        [title]="
          (saving() ? 'view.palette.saving' : 'view.palette.save') | translate
        "
        class="flex items-center gap-2 px-2 sm:px-3 py-1.5 sm:py-2 overflow-hidden font-semibold bg-blue-500 rounded cursor-pointer group text-neutral-50 dark:bg-blue-600 disabled:bg-neutral-400 dark:disabled:bg-neutral-700 disabled:cursor-wait"
        (click)="savePalette()"
      >
        <span
          class="flex items-center justify-center group-disabled:animate-pulse-spin"
        >
          <ng-icon
            [svg]="saveIcon()"
            size="1.25rem"
            class="scale-90 sm:scale-100"
          />
        </span>

        <span>
          {{ (saving() ? "common.saving" : "common.save") | translate }}
        </span>
      </button>
    </div>
  </section>

  <rp-view-palette
    [palette]="palette"
    (renameColor)="renameColor($event)"
    (editColor)="editColor($event.color, $event.shadeIndex)"
    (removeColor)="removeColor($event)"
    (copyShade)="copyToClipboard($event)"
  />

  <section class="flex items-center justify-center gap-2 mt-8">
    <button
      class="flex items-center gap-2 px-2 sm:px-3 py-1.5 sm:py-2 overflow-hidden font-semibold bg-blue-500 rounded cursor-pointer text-neutral-50 dark:bg-blue-600"
      [title]="'view.color.add-tooltip' | translate"
      (click)="addColor()"
    >
      <ng-icon
        [svg]="heroPlusMini"
        size="1.25rem"
        class="scale-90 sm:scale-100"
      />
      <span>
        {{ "view.color.add" | translate }}
      </span>
    </button>
  </section>
</div>
} @else {
<rp-no-palette [parent]="'view'" />
}
