<section
  class="flex items-center justify-center px-4 py-8 sm:px-6 lg:px-8"
  id="preview"
>
  <article
    class="mx-auto max-w-md space-y-4 rounded-xl border border-neutral-200 bg-neutral-100 p-6 text-center shadow-xl dark:border-neutral-600 dark:bg-neutral-700 dark:shadow-none lg:p-8"
  >
    <ng-icon [svg]="heroWrenchScrewdriver" size="6rem" />

    <h2 class="text-2xl font-bold md:text-3xl">
      {{ "preview.title" | translate }}
    </h2>

    <p
      [innerHTML]="'preview.description' | translate : links"
      class="underline-inline-links text-left text-neutral-700 dark:text-neutral-300"
    ></p>

    <a
      [routerLink]="'/view'"
      class="inline-flex items-center gap-2 rounded-md bg-blue-500 px-4 py-2 font-semibold text-neutral-50 dark:bg-blue-600"
    >
      <ng-icon [svg]="heroArrowUturnLeft" size="1.1rem" strokeWidth="0.15rem" />
      {{ "preview.link" | translate }}
    </a>
  </article>
</section>
