<div
  tabindex="-1"
  *ngIf="dialog"
  (click)="closeNotification()"
  class="p-4 flex overflow-y-auto overflow-x-hidden z-40 h-modal h-screen w-screen justify-center items-center backdrop-blur-sm bg-gray-900/20 dark:bg-gray-800/75 cursor-pointer"
  [class]="dark ? 'dark' : ''"
  aria-hidden="true">
  <article
    class="flex flex-col gap-6 relative w-full cursor-default bg-gray-100 text-gray-900 rounded dark:bg-gray-900 dark:text-gray-100 p-4 shadow"
    [class]="getWidth()"
    (click)="$event.stopPropagation()">
    <button
      type="button"
      (click)="closeNotification()"
      [title]="'dialog.close' | translate"
      class="absolute bottom-full right-0 mb-2 bg-transparent hocus:text-primary-900 hocus:bg-primary-400 rounded-md text-sm p-1.5 ml-auto inline-flex items-center dark:hocus:text-primary-300 dark:hocus:bg-primary-700 focus:ring-0 focus:outline-none transition-colors duration-200">
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="sr-only">{{ 'dialog.close' | translate }}</span>
    </button>

    <section class="mt-8">
      <p
        class="text-lg font-normal"
        [class]="getAlign()"
        [innerHtml]="
          'dialog.message.' + dialog.id | translate : dialog.interpolateParams
        "></p>
    </section>

    <section
      *ngIf="dialog.actions && dialog.actions.length > 0"
      class="flex flex-col sm:flex-row justify-end items-center gap-2">
      <button
        *ngFor="let action of dialog.actions"
        type="button"
        class="text-primary-700 max-sm:w-full hocus:bg-primary-200 focus:ring-0 focus:outline-none rounded text-sm font-medium px-5 py-2.5 dark:text-primary-500 dark:hocus:text-primary-400 dark:hocus:bg-primary-900 transition-colors duration-200"
        [title]="'dialog.action.' + action.id + '.title' | translate"
        (click)="triggerCallback(action.id)">
        {{ 'dialog.action.' + action.id + '.label' | translate }}
      </button>
    </section>
  </article>
</div>
