<div
  tabindex="-1"
  *ngIf="dialog()"
  (click)="closeDialog()"
  class="p-4 flex overflow-y-auto overflow-x-hidden z-40 h-modal h-screen w-screen justify-center items-center backdrop-blur-sm bg-gray-900/20 dark:bg-gray-800/75 cursor-pointer"
  [class]="dark ? 'dark' : ''"
  aria-hidden="true">
  <article
    class="flex flex-col gap-6 relative w-full cursor-default bg-gray-100 text-gray-900 rounded dark:bg-gray-900 dark:text-gray-100 p-4 shadow"
    [class]="width()"
    (click)="$event.stopPropagation()">
    <button
      type="button"
      (click)="closeDialog()"
      [title]="'dialog.close' | translate"
      class="absolute bottom-full right-0 mb-2 bg-transparent hocus:text-primary-900 hocus:bg-primary-400 rounded-md text-sm p-1.5 ml-auto inline-flex items-center dark:hocus:text-primary-300 dark:hocus:bg-primary-700 focus:ring-0 focus:outline-none transition-colors duration-200">
      <ng-icon name="heroXMark" size="1.25rem" />
      <span class="sr-only">{{ 'dialog.close' | translate }}</span>
    </button>

    <section class="mt-8">
      <p
        class="text-lg font-normal"
        [class]="align()"
        [innerHtml]="
          'dialog.message.' + dialog()!.id
            | translate: dialog()!.interpolateParams
        "></p>
    </section>

    <section>
      <ng-container [ngSwitch]="customId()">
        <div *ngSwitchCase="'export-palette'">
          <!-- Custom dialog action buttuns with icons for selecting the export format -->
          <div
            class="grid xs:grid-cols-3 gap-2 xs:gap-4 items-center justify-center">
            <button
              *ngFor="let exportFormat of dialog()!.actions"
              type="button"
              class="flex xs:flex-col gap-4 xs:gap-2 items-center justify-start xs:justify-center rounded font-medium focus:ring-0 focus-outline-none transition-colors duration-200 p-2 hocus:bg-primary-200 dark:text-primary-500 text-primary-700 dark:hocus:text-primary-400 dark:hocus:bg-primary-900"
              [title]="
                'dialog.action.' + exportFormat.id + '.title' | translate
              "
              (click)="triggerCallback(exportFormat.id)">
              <ng-icon
                *ngIf="exportFormat.icon"
                [name]="exportFormat.icon"
                class="xs:mx-auto"
                size="2.5rem"
                [style.color]="exportFormat.color ?? 'inherit'" />
              <p>
                {{ 'dialog.action.' + exportFormat.id + '.label' | translate }}
              </p>
            </button>
          </div>
        </div>

        <div *ngSwitchDefault>
          <!-- Default dialog action buttons -->
          <div
            *ngIf="dialog()!.actions && dialog()!.actions!.length > 0"
            class="flex flex-col sm:flex-row justify-end items-center gap-2">
            <button
              *ngFor="let action of dialog()!.actions"
              type="button"
              class="text-primary-700 max-sm:w-full hocus:bg-primary-200 focus:ring-0 focus:outline-none rounded text-sm font-medium px-5 py-2.5 dark:text-primary-500 dark:hocus:text-primary-400 dark:hocus:bg-primary-900 transition-colors duration-200"
              [title]="'dialog.action.' + action.id + '.title' | translate"
              (click)="triggerCallback(action.id)">
              {{ 'dialog.action.' + action.id + '.label' | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </section>
  </article>
</div>
