<footer
  class="w-full border-t border-neutral-300 bg-neutral-200 px-4 py-8 dark:border-neutral-700 dark:bg-neutral-800 sm:px-6 lg:px-8"
>
  <div class="mx-auto w-full max-w-5xl">
    <div class="flex items-start justify-center gap-2">
      <img
        [src]="logoAsset()"
        alt="Rainbow Palette"
        width="200"
      />
      <span
        class="whitespace-nowrap rounded-full border border-neutral-400 bg-neutral-300 px-1.5 py-0.5 text-xs font-semibold text-neutral-800 shadow-sm dark:border-neutral-600 dark:bg-neutral-700 dark:text-neutral-200 dark:shadow-none"
      >
        {{ version }}
      </span>
    </div>

    <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-neutral-500 dark:text-neutral-400">
      {{ 'layout.footer.description' | translate }}
    </p>

    <ul class="mt-12 flex flex-wrap justify-center gap-6 text-neutral-700 dark:text-neutral-50 md:gap-8 lg:gap-12">
      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          href="https://github.com/pawcoding/Rainbow-Palette"
          rel="noreferrer"
          target="_blank"
        >
          {{ 'layout.footer.github' | translate }}
        </a>
      </li>

      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          href="https://pawcode.de/?mtm_campaign=OpenSource&mtm_source=RainbowPalette"
          target="_blank"
        >
          {{ 'layout.footer.website' | translate }}
        </a>
      </li>

      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          routerLink="/imprint"
        >
          {{ 'layout.footer.imprint' | translate }}
        </a>
      </li>

      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          fragment="analytics"
          routerLink="/imprint"
        >
          {{ 'layout.footer.analytics' | translate }}
        </a>
      </li>
    </ul>

    <ul class="mt-12 flex justify-center gap-6 text-neutral-700 dark:text-neutral-50 md:gap-8">
      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          href="https://github.com/pawcoding/Rainbow-Palette"
          rel="noreferrer"
          target="_blank"
        >
          <span class="sr-only">GitHub</span>
          <ng-icon
            [svg]="simpleGithub"
            size="1.5rem"
          />
        </a>
      </li>

      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          href="https://www.instagram.com/paw.coding/"
          rel="noreferrer"
          target="_blank"
        >
          <span class="sr-only">Instagram</span>
          <ng-icon
            [svg]="simpleInstagram"
            size="1.5rem"
          />
        </a>
      </li>

      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          href="https://discord.gg/GzgTh4hxrx"
          rel="noreferrer"
          target="_blank"
        >
          <span class="sr-only">Discord</span>
          <ng-icon
            [svg]="simpleDiscord"
            size="1.5rem"
          />
        </a>
      </li>

      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          href="https://twitter.com/pawcode"
          rel="noreferrer"
          target="_blank"
        >
          <span class="sr-only">X</span>
          <ng-icon
            [svg]="simpleX"
            size="1.5rem"
          />
        </a>
      </li>

      <li>
        <a
          class="transition hover:text-neutral-700/75 dark:hover:text-neutral-50/75"
          href="https://www.youtube.com/channel/UCMR0jp9jjK4ehhMNkVDGGRA"
          rel="noreferrer"
          target="_blank"
        >
          <span class="sr-only">YouTube</span>
          <ng-icon
            [svg]="simpleYoutube"
            size="1.5rem"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
