@if (toast(); as toast) {
<div
  role="alert"
  class="flex items-center gap-1 p-4 rounded shadow-md toast border-s-4 dark:shadow-none max-w-96"
  [class]="colors()"
>
  <span class="text-sm">
    {{ toast.message | translate : toast.parameters }}
  </span>

  <button
    type="button"
    class="flex items-center justify-center w-6 h-6 transition-colors duration-200 rounded bg-black/0 shrink-0 focus:outline-none hover:bg-black/10"
    [title]="'common.close' | translate"
    (click)="closeToast()"
  >
    <ng-icon [svg]="heroXMarkMini" />
  </button>
</div>
}
